header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.773);
    width: auto;
    align-items: baseline;

}

#language {
    margin-left: 20px;
}

header>div>button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}

header>div>button:hover {
    background-color: rgba(0, 0, 0, 0.334);
    color: white;
    opacity: 0.7;
}

.fa {
    padding: 1px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: rgba(0, 0, 0, 0);
    color: white;
}

.fa-twitter {
    background: rgba(0, 0, 0, 0);
    color: white;
}



.fa-linkedin {
    background: rgba(0, 0, 0, 0);
    color: white;
}

.fa-youtube {
    background: rgba(0, 0, 0, 0);
    color: white;
}

.logo>img {
    width: 108px;
    height: 108px;
    margin-left: 70px;
    margin-top: 9px;
}

.logo>h2 {
    margin-top: 0px;
    margin-left: 46px;
}

.dropbtn {
    background-color: #ddeee8;
    color: rgb(33, 30, 30);
    padding: 16px;
    font-size: 16px;
    border: none;
    margin : 0px 40px 0px 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #676a67;
}
.infobtn{
    background-color:#ddeee8;
}

 .slider{
    margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 .slider>button{
    background-color:#ddd;
    border: none;
    height: 40px;
 }
 .slider>button:hover{
    background-color:rgb(176, 174, 174);
    border: none;
    height: 40px;
 }
 .slides>img{
    width: 700px;
 }
 .news{
    display: flex;
 }
 .newsbox{
    display: flex;
    margin-top:20px;
    margin-right: 10px;
    margin-left: 20px;
 }
 .newsbox:hover{
    display: flex;
    background-color: rgb(218, 213, 213);
 }
 .newsbox--h4{
    color: aqua;
 }
 .newsImg{
    width: 300px;
    height: 168px;
    margin-right: 10px;
 }
 #i2{
    width: 300px;
    height: 168px;
 }
 .current>div{
    margin-top: 20px;
    margin-right: 20px;
 }
 .recrute{
    margin: 20px 40px 20px 40px;
    border: dotted black 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .quickfind{
    display: flex;
    justify-content: center;
    background-color: #676a67;
 }
 .quickfind ul li{
    margin-top: 20px;
 }
 .qhead{
    margin-left: 27px;
 }
 hr{
    color: black;
 }
 .quickfind div{
    margin:0px 10px 0px 10px ;
 }
 footer{
    background-color: #4d4f4d;
    color: white;
    padding: 10px;
 }

 
